*,html,body,::before,::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
.hidden{
  display: none;
  height:0;
  width:0;
}
.inactive{
    z-index: -10;
    height:0vh;
    width:0vh;
    background-color: orange;
    position:absolute;
    margin:-50000px;
}
.active{
    z-index: 4;
    height:95%;
    width:95%;
    background-color: green;
    position:fixed;
    margin:2em;
}
.generalInfoBackground{
    /* position: fixed; */
    background-color: yellow;
    margin:15px;
    height:98%;
    width:98%;
}
.initalMenu{
  width: 75vw;
  height: 80vh;
  background:rgba(0,0,0,.7);
  z-index: 1;
  position: absolute;
  top: calc(20vh / 2);
  left: calc(25vw / 2);
  border-radius: 5rem;
  color: white
}
.initalMenuInner{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.closeBtn{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1000;
}

.modalPopup{
  position: absolute;
  width: 80vw;
  left: 10vw;
  top: 10vh;
  height: 80vh;
  border-radius: 5rem;
}
.modalPopup>iframe{
  width: 80vw;
  height: 80vh;
  border-radius: 5rem;
}

.loadingScreen{
  z-index: 10;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes wiggle {
  0%{
    transform: rotate(12deg)}
    50%{
  transform: rotate(-12deg)
    }
  100%{
    transform: rotate(12deg)}
}
@keyframes fadeout {
  0%{
    opacity: 1
  }
  100%{
    opacity: 0
  }
}
.loadingScreen>p{
  font-size: 3rem;
  transform: rotate(10deg);
  animation-name: wiggle;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite
}